* 
{
    margin: 0;
    padding: 0;
}

#titulo 
{
    font-family: sans-serif;
    color: #ffffff;
    margin-left: 15%;
}

#subtitulo 
{
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    margin-left: 7%;
    text-align: left;
}

fieldset 
{
    border: 0;
}

body 
{
    background-image: linear-gradient(45deg, #9d6b00 0, #a06000 8.33%, #9e5300 16.67%, #974507 25%, #8c340e 33.33%, #7c2311 41.67%, #671010 50%, #52000b 58.33%, #400004 66.67%, #320000 75%, #2a0000 83.33%, #230000 91.67%, #1b0000 100%);
  font-family: sans-serif;
  font-size: 1em;
  color:rgb(255, 255, 255);
  margin-left: 36%;
  margin-top: 2%;
  justify-content: center;   
}

input, select, textarea, button 
{
    border-radius: 5px;
}

.campo 
{
    margin-bottom: 1em;
}

.campo label
{
    margin-bottom: 0.2em;
    color:rgb(255, 255, 255);
    display: block;
}

fieldset.grupo .campo 
{
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea
{
    padding:0.2em;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.campo select option 
{
    padding-right: 1em;
}

.campo input:focus, .campo select:focus,  .campo textarea:focus
{
    background: #e0e0f8;
}

.botao 
{
    font-size: 1.2em;
    background: #ffffff;
    border: 0;
    margin-bottom: 1em;
    color: #000000;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: 50%;
    transform: translate(-50%, -50%);
}

.botao:hover 
{
    background: #fc5a5a;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

#check 
{
    display: inline-block;
}

